body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.options-menu {
  position: relative;
  display: inline-block; /* Display as inline-block to make the dots appear vertically */
  cursor: pointer;
}

.options-menu span {
  font-size: 20px;

  line-height: 1.6; /* Adjust line height for vertical alignment */
}

.options-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Position dropdown below the dots */
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;

  z-index: 10;
}

.options-menu:hover .options-dropdown {
  display: block;
}

.options-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.options-dropdown li:hover {
  background-color: #f0f0f0;
}

.other-date-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
span {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.candidate-info {
  flex-grow: 1;
}
strong {
  padding: 10px;
  font-weight: 10;
}
.position {
  font-weight: 5px;
  font-size: 15px;
}
.join-now {
  display: flex;
  align-items: center;
}

.join-now strong {
  margin-right: 10px; /* Adjust the spacing between time and buttons */
}
.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.view-history-btn {
  background-color: transparent;
  color: rgb(24, 204, 72);
  border: none;
  margin-right: 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.options-menu {
  margin-left: auto; /* Push the options-menu to the right */
}

.options-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.options-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.options-dropdown li:hover {
  background-color: #ddd;
}
.a {
  display: flex;
  flex-direction: column;
}
li {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

a {
  color: #000000;
  text-decoration: none;
  border: 1px solid black;
  padding: 8px 14px;
  border-radius: 10px;
}
a:hover {
  background-color: rgb(24, 204, 72);
  color: white;
  text-decoration: none;
}

/* Optional: Add responsive styles */
@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
